# practice problem 3.1

In [2]:
x=int(input('entre the temprature in degree farenhiet:'))
celsius=(5/9)*(x-32)
print('the temprature in degree celsius is:',celsius)

entre the temprature in degree farenhiet:56
the temprature in degree celsius is: 13.333333333333334

# practice problem 3.2

In [3]:
age=int(input('entre your age:'))
if age>62:
    print('you can get your pension benefits')

entre your age:67
you can get your pension benefits

# practice problem 3.3

In [18]:
year=int(input('enter the year bc:'))
if year%4==0:
    print('could be a leap year')
else:
    print('defenitely not a leap year')

enter the year bc:2019
defenitely not a leap year

# practice problem 3.4

In [5]:
login=str(input('enter your your login id:'))
lst=['henry','joe','logan','felix','bale']
if login in lst:
    print('your acces is granted')
else:
    print('your acces is denied')
print('done!')

enter your your login id:felix
your acces is granted
done!

# practise problem 3.5

In [16]:
lst=(input('enter a list:'))
inlst=lst.split(',')
for i in inlst:
    print(i)

enter a list:messi,pique,xavi,iniesta,ronaldhino
messi
pique
xavi
iniesta
ronaldhino

# practise problem 3.6

In [21]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [22]:
for i in range(0,2):
    print(i)

0
1

# practise problem 3.7

In [2]:
#(a)
for i in range(3,13):
    print(i)

3
4
5
6
7
8
9
10
11
12

In [3]:
#(b)
for i in range(0,9,2):
    print(i)

0
2
4
6
8

In [4]:
#(c)
for i in range(0,24,3):
    print (i)

0
3
6
9
12
15
18
21

In [5]:
#(d)
for i in range(3,12,5):
    print(i)

3
8

# practice problem 3.8

In [6]:
def parimetre(r):
    import math
    p=2*math.pi*r
    return p 
parimetre(6)

37.69911184307752

# practice problem 3.9

In [15]:
def average(x,y):
    'gives an average of two numbers'
    import statistics as st
    data=[x,y]
    avg=st.mean(data)
    print(avg)
average(4,10)

7

# practice problem 3.10

In [18]:
def novowel(s):
    if 'a''e''i''o''u'in s:
        print('false')
    else:
        print('true')
novowel('saim')

true

# practice problem 3.11

In [6]:
def alleven(lst):
    for i in lst:
        if i%2 > 0:
            print('false')
    else:
        print('true')
alleven([2,3,4,5,6,1,2,45,])

false
false
false
false
true

# practice problem 3.12

In [9]:
def negatives(s):
    'returns the negative numbers in given list'
    for i in s:
        if i<0:
            print(i)
negatives([1,2,3,4,5,-2,-3,2,3,3,-4,-5,-4,-5])

-2
-3
-4
-5
-4
-5

# practice problem 3.13

In [13]:
help(negatives)

Help on function negatives in module __main__:

negatives(s)
    returns the negative numbers in given list

In [16]:
help(average)

Help on function average in module __main__:

average(x, y)
    gives an average of two numbers

# practice problem 3.15

In [6]:
lst=['messi','pele','maradona','zidane','ronaldo','ronaldihno']
lst[0],lst[-1]=lst[-1],lst[0]
print(lst)

['ronaldihno', 'pele', 'maradona', 'zidane', 'ronaldo', 'messi']

# practice problem 3.16

In [7]:
def swapfl(lst):
    lst[0],lst[-1]=lst[-1],lst[0]
    print(lst)
swapfl(['liverpool','manchester united','manchester city','arsenal',])

['arsenal', 'manchester united', 'manchester city', 'liverpool']

# EXERCISES

# 3.17

In [8]:
a=eval('2*3+1')
print(a)

7

In [9]:
b=eval('hello')
print(b)#error becuase hello string is not associated with any integer or python expression

NameError: name 'hello' is not defined

In [10]:
c=eval("'hello' + ' ' + 'world!'")
print(c)

hello world!

In [11]:
d=eval("'ASCII'.count('I')")
print(d)

2

In [12]:
e=eval('x=5')
print(e)#error becuase there is variable assignment in the string

SyntaxError: invalid syntax (<string>, line 1)

# 3.18

In [15]:
a,b,c=3,4,5
if a<b:
    print("OK!")
if c<b:
    print("OK!")
if (a+b)==c:
    print("OK!")
if (a**2+b**2)==c**2:
    print("OK!")

OK!
OK!

# 3.19

In [16]:
a,b,c=3,4,5
if a<b:
    print("OK!")
else:
    print('NOT OK!')
if c<b:
    print("OK!")
else:
    print('NOT OK!')
if (a+b)==c:
    print("OK!")
else:
    print('NOT OK!')
if (a**2+b**2)==c**2:
    print("OK!")
else:
    print('NOT OK!')

OK!
NOT OK!
NOT OK!
OK!

# 3.20

In [19]:
lst=['january','february','march','april','may']
for i in lst:
    x=i[:3]
    print(x)

jan
feb
mar
apr
may

# 3.21

In [20]:
lst=[2,3,4,5,3,5,7,56,4,4,6,4,2,5,9,3,5,1,7]
for i in lst:
    if i%2==0:
        print(i)

2
4
56
4
4
6
4
2

# 3.22

In [21]:
lst=[2,4,6,25,4,3,6,8,3,4,5]
for i in lst:
    if (i**2)%8==0:
        print(i)

4
4
8
4

# 3.23

In [22]:
for a in range(2):
    print(a)

0
1

In [23]:
for b in range(1):
    print(b)

0

In [24]:
for c in range(3,7):
    print(c)

3
4
5
6

In [25]:
for d in range(1,2):
    print(d)

1

In [28]:
for e in range(0,4,3):
    print(e)

0
3

In [30]:
for f in range(5,22,4):
    print(f)

5
9
13
17
21

# PROBLEMS

# 3.24

In [38]:
x=str(input("enter a list of words:"))
inx=x.split(',')
for i in inx:
    if i!='secret':
        print(i)

enter a list of words:isi,fbi,mi6,isis,imf,iterpol,secret
isi
fbi
mi6
isis
imf
iterpol

# 3.25

In [59]:
y=str(input('enter the list of students:'))
lst=y.split(',')
for i in lst:
    if i[0]=='A' or 'B' or 'C' or 'D' or 'E' or 'F' or 'G' or 'H' or 'I' or 'J' or 'K' or 'L' or 'M':        
        print(i)#not working cannot understand why?

enter the list of students:Saim,Abdullah,Zain
Saim
Abdullah
Zain

# 3.26

In [2]:
x=str(input('entre a list:'))
lst=x.split(',')
print('the first element of the list is:',lst[0])
print('the last element of the list is:',lst[-1])

entre a list:0,1,2,4,3,6,8,3,5
the first element of the list is: 0
the last element of the list is: 5

# 3.27

In [3]:
x=int(input('enter a positive integar:'))
print(x*0)
print(x*1)
print(x*2)
print(x*3)

enter a positive integar:7
0
7
14
21

# 3.28

In [4]:
x=int(input('entre an integer:'))
for i in range(x):
    print(i**2)

entre an integer:5
0
1
4
9
16

# 3.29

In [9]:
x=int(input('enter an integer:'))
for i in range(1,x+1):
    if x%i==0:
        print(i)

enter an integer:40
1
2
4
5
8
10
20
40

# 3.30

In [2]:
a=float(input('enter the first number:'))
b=float(input('enter the second number:'))
c=float(input('enter the third number:'))
d=float(input('enter the fourth number:'))
x=(a+b+c)/3
if x==d:
    print('equal')
else:
    print('nor equal')

enter the first number:2
enter the second number:2
enter the third number:2
enter the fourth number:2
equal

# 3.31

In [4]:
x=float(input('enter the x coordinate of the dart:'))
y=float(input('enter the y coordinate of the dart:'))
if x and y<=8:
    print('it is in!')

enter the x coordinate of the dart:8
enter the y coordinate of the dart:4
it is in!

# 3.32

In [7]:
x=eval(input('enter a four digit integar:'))

enter a four digit integar:5657

TypeError: 'int' object is not subscriptable

# 3.33

In [11]:
def reverse_string(s):
    return s[::-1]
reverse_string('saim')

'mias'

# 3.34

In [13]:
def pay(x,y):
    if x>40:
        a=(x*y)*1.5
        print(a,"$")
    else:
        b=x*y
        print(b,"$")
pay(41,3)

184.5 $

# 3.35

In [14]:
def prob(n):
    x=2**(-n)
    print(x)
prob(4)

0.0625

# 3.36

# 3.37

In [21]:
 def points(x1,y1,x2,y2):
        import math
        if (x2-x1)==0:
            m="infinity!"
        else:
            m=(y2-y1)/(x2-x1)
        d=math.sqrt((x2-x1)**2+(y2-y1)**2)
        
        print('THE SLOPE IS:',m,"THE DIATANCE IS:",d)
            
points(5,27,5,9)

THE SLOPE IS: infinity! THE DIATANCE IS: 18.0

# 3.38

In [24]:
def abbreviation(s):
    return s[0]+s[1]
abbreviation('monday')

'mo'

# 3.39

In [25]:
def collision(x1,y1,x2,y2,r1,r2):
    if (x1==x2 or y1==y2) and (r1>=r2 or r2>=r1):
        print('true!')
    else:
        print('false!')
collision(2,4,2,5,2,3)

true!

# 3.40

In [56]:
def partition(s):
    for i in s:
        if i[0]=='a'or'b'or'c'or'd'or'e'or'f'or'g'or'h'or'i'or'j'or'k'or'l'or'm':
            print(i)
partition(['messi','zidane','ronaldinho','pele'])#not working cannot understand why?

messi
zidane
ronaldinho
pele

# 3.41

In [58]:
def lastf(s,t):
    print("'" + t + "," + ' ' + s[0] + '.' + "'" )
lastf('cristiano','ronaldo')

'ronaldo, c.'

# 3.42

In [63]:
def avg(s):
    for i in s:
        from statistics import mean
        x=mean(i)
        print(x)
avg([[34,56,66],[67,78,54],[45,65,77],[67,87,61]])

52
66.33333333333333
62.333333333333336
71.66666666666667

# 3.43

In [68]:
def hit(x1,y1,r,x2,y2):
    return x2 <= r and y2 <= r
hit(2,2,5,4,5)

True

# 3.44

In [70]:
def distance(t):
    v=(340.29/1000)
    s=v*t
    print(s,'kilometres')
distance(1.2)

0.40834800000000004 kilometres